doctype html
html(lang="en")
    head
        title Fortune Transportation
        // inject:css:lib 
        // inject:css:app 
    body
        h1 Fortune Transportation
        img(src="assets/images/fortuneLogo.png")
        // inject:js:lib 
        // inject:js:app 