doctype html
html(lang="en")
    head
        title Fortune Transportation
        // inject:css:lib 
        // inject:css:app 
    body
        div(ng-app="fortuneFrontEnd", ng-cloak)
        // inject:js:lib 
        // inject:js:app 